

#button_1{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#input_1{
	position: absolute;
	top:50%;
	left:45%;
	transform: translate(-50%,-50%);
}
#input_2{
	position: absolute;
	top:50%;
	left:45%;
	transform: translate(70%,-45%);
}

#button_2{
	position: absolute;
	top: 52%;
    left: 45%;
    transform: translate(59%,50%)
}
#div-circle{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
